.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}


h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
    font-weight: 600;
}

h1,
p {
    margin: 20px 0;
}

.title-container {
    padding: 10px;
}

.buy-btn {
    border: 0;
    padding: 20px 30px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(211, 247, 247);
    border-radius: 10px;
}

.buy-btn:hover {
    color: rgb(254, 255, 255);
    background-color: rgb(248, 106, 54);
}

.domain-container img {

    width: 80%;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

.review-title {
    color: rgb(252, 100, 73);
}